// @font-face {
//   font-family: "PlayfairDisplay-Regular";
//   src: url("../../fonts/PlayfairDisplay-Regular.eot"); /* IE9 Compat Modes */
//   src: url("../../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
//     url("../../fonts/PlayfairDisplay-Regular.woff") format("woff"),
//     url("../../fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
//     url("../../fonts/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "montserrat-regular";
  src: url("#{$theme-path}/fonts/montserrat-regular-webfont.eot"); /* IE9 Compat Modes */
  src: url("#{$theme-path}/fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("#{$theme-path}/fonts/montserrat-regular-webfont.woff") format("woff"),
    url("#{$theme-path}/fonts/montserrat-regular-webfont.ttf") format("truetype"),
    url("#{$theme-path}/fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat-black";
  src: url("#{$theme-path}/fonts/montserrat-black-webfont.eot"); /* IE9 Compat Modes */
  src: url("#{$theme-path}/fonts/montserrat-black-webfont.woff2") format("woff2"),
    url("#{$theme-path}/fonts/montserrat-black-webfont.woff") format("woff"),
    url("#{$theme-path}/fonts/montserrat-black-webfont.ttf") format("truetype"),
    url("#{$theme-path}/fonts/montserrat-black-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat-bold";
  src: url("#{$theme-path}/fonts/montserrat-bold-webfont.eot"); /* IE9 Compat Modes */
  src: url("#{$theme-path}/fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("#{$theme-path}/fonts/montserrat-bold-webfont.woff") format("woff"),
    url("#{$theme-path}/fonts/montserrat-bold-webfont.ttf") format("truetype"),
    url("#{$theme-path}/fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat-extrabold";
  src: url("#{$theme-path}/fonts/montserrat-extrabold-webfont.eot"); /* IE9 Compat Modes */
  src: url("#{$theme-path}/fonts/montserrat-extrabold-webfont.woff2") format("woff2"),
    url("#{$theme-path}/fonts/montserrat-extrabold-webfont.woff") format("woff"),
    url("#{$theme-path}/fonts/montserrat-extrabold-webfont.ttf") format("truetype"),
    url("#{$theme-path}/fonts/montserrat-extrabold-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat-thin";
  src: url("#{$theme-path}/fonts/montserrat-thin-webfont.eot"); /* IE9 Compat Modes */
  src: url("#{$theme-path}/fonts/montserrat-thin-webfont.woff2") format("woff2"),
    url("#{$theme-path}/fonts/montserrat-thin-webfont.woff") format("woff"),
    url("#{$theme-path}/fonts/montserrat-thin-webfont.ttf") format("truetype"),
    url("#{$theme-path}/fonts/montserrat-thin-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
